/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-08-2018, 20:26:41
    Author     : Matias
*/
txt2
{
 text-shadow: 4px 6px 3px #000000;
}
.nav-wrapper {
    background-color: #000000;
    font-size: 14px;
    font-weight: bold;
  }
